/*********** poop up ***********/
#popup {
    opacity: 0;
    z-index: 200;
    display: block;
    visibility: hidden;
    position: absolute;
    padding: 20px 10px;
    max-width: 300px;
    text-align: center;
    pointer-events: none;
    background-color: rgba(232, 233, 235, 1);
    border-radius: 0.3rem;
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
    transition: visibility 0s, opacity 0.2s linear;
}

#popup #popupNotice {
    color: red;
    padding-bottom: 15px;
}

#popup #popupNotice:empty {
    display: none;
}

#popup #popupTitle {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}

#popup #popupTitle:empty {
    display: none;
}

/*********** menu ***********/
#menuBarContainer {
    width: 100%;
    max-width: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#menuBar {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(49, 54, 56, 0.8);
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #menuBar {
        background-color: rgba(49, 54, 56, 0.2);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#leftMenu {
    display: flex;
}

#rightMenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topMenu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#pageTitle {
    text-align: right;
    font-size: 20px;
    display: flex;
    margin: auto 10px;
    font-weight: bolder;
}

#progressBar {
    height: 20px;
    width: 100%;
    display: flex;
}

#progressBar .progress {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(232, 233, 235, 1);
    text-shadow: 1px 1px 3px rgba(49, 54, 56, 1);
    font-size: 12px;
    position: relative;
    cursor: default;
}

#progressBar .progress:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progressBar .progress:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#progressBar .progress .tooltip {
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

#progressBar .progress:hover .tooltip {
    opacity: 1;
    visibility: visible;
    min-width: initial;
    transition: visibility 0s, opacity 0.2s linear;
}

#progressBar .progress svg {
    margin-left: 10px;
}

#bottomMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

#timer {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

#action {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#userId {
    border: 1px solid rgba(49, 54, 56, 0.2);
    position: relative;
}

#userId .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
}

#userId:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#skillPoints {
    border: 1px solid rgba(49, 54, 56, 0.2);
    position: relative;
}

#skillPoints .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
}

#skillPoints:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#stopButton {
    background-color: rgba(186, 39, 74, 1);
    color: rgba(232, 233, 235, 1);
    display: none;
}

#stopButton.disabled {
    background-color: rgba(186, 39, 74, 0.2);
}

#stopButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110px;
}

#stopButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#recenterButton {
    background-color: rgba(232, 233, 235, 1);
}

#recenterButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
}

#recenterButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#resetButton {
    background-color: rgba(232, 233, 235, 1);
}

#resetButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
}

#resetButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#resetButton.disabled {
    background-color: rgba(232, 233, 235, 0.2);
}

#screenshotButton {
    display: none;
    background-color: rgba(232, 233, 235, 1);
}

#screenshotButton svg {
    margin-left: 10px;
}

#screenshotButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
}

#screenshotButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#nextButton {
    display: none;
    background-color: rgba(0, 159, 147, 1);
    color: rgba(232, 233, 235, 1);
    text-decoration: none;
}

#nextButton svg {
    margin-left: 10px;
}

#nextButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
}

#nextButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#skilltree {
    width: 100vw;
    height: 100vh;
    border: 0;
}

#screenshotContainer {
    display: none;
}
