* {
    box-sizing: border-box
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    color: rgba(49, 54, 56, 1);
    background-color: rgba(232, 233, 235, 1);
}

/*********** poop up ***********/
#popup {
    opacity: 0;
    z-index: 200;
    display: block;
    visibility: hidden;
    position: absolute;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    pointer-events: none;
    background-color: rgba(232, 233, 235, 1);
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
    transition: visibility 0s, opacity 0.2s linear;
}

#popup #popupNotice {
    color: red;
    padding-bottom: 15px;
}

#popup #popupNotice:empty {
    display: none;
}

#popup #popupTitle {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}

#popup #popupTitle:empty {
    display: none;
}

/*********** tool tip ***********/
.tooltip {
    color: rgba(232, 233, 235, 1);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(49, 54, 56, 1);
    padding: 10px 20px;
    border-radius: .2rem;
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
    text-align: center;
    z-index: 200;
    transition: visibility 0s, opacity 0.2s linear;
    pointer-events: none;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(49, 54, 56, 1) transparent;
}

/*********** menu ***********/
#menuBarContainer {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    padding: 10px;
}

#menuBar {
    display: flex;
    height: 75px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(49, 54, 56, 0.8);
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
    flex-flow: column;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #menuBar {
        background-color: rgba(49, 54, 56, .2);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#topMenu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#progressBar {
    height: 15px;
    width: 100%;
    display: flex;
}

#progressBar .progress {
    flex: 1;
    text-align: center;
    color: rgba(232, 233, 235, 1);
    text-shadow: 1px 1px 3px rgba(49, 54, 56, 1);
    font-size: 12px;
    position: relative;
    cursor: default;
}

#progressBar .progress:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progressBar .progress:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#progressBar .progress:hover .tooltip {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

#bottomMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 10px;
}

#timer {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

#action {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.action-button {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    height: 45%;
    padding: 15px 20px;
    margin: auto;
    cursor: default;
}

.action-button:last-child {
    margin-left: 10px;
}

.action-button:not(.disabled) {
    cursor: pointer;
    transition: 0.2s;
}

.action-button:not(.disabled):hover {
    filter: grayscale(0.4);
    box-shadow: inset 0 0 0 rgb(49 54 56 / 0.5), 0 3px 10px rgb(49 54 56 / 0.2);
}

.action-button:not(.disabled):active {
    box-shadow: inset 0px 3px 10px rgb(49 54 56 / 0.5), 0 0 0 rgb(49 54 56 / 0.2);
}

#skillPoints {
    border: 1px solid rgba(49, 54, 56, 0.2);
    position: relative;
}

#skillPoints:hover .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

#skillPoints .tooltip {
    min-width: 140px;
}

#stopButton {
    background-color: rgba(186, 39, 74, 1);
    color: rgba(232, 233, 235, 1);
    display: none;
}

#stopButton.disabled {
    background-color: rgba(186, 39, 74, 0.2);
}

#resetButton {
    background-color: rgba(232, 233, 235, 1);
}

#resetButton.disabled {
    background-color: rgba(232, 233, 235, 0.2);
}

#skilltree {
    width: 100vw;
    height: 100vh;
    border: 0;
}

#panel {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    border: 1px solid lightgrey;
}