html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

#skilltree {
    width: 100vw;
    height: 100vh;
    border: 0;
}

#panel {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    border: 1px solid lightgrey;
}

#popup {
    z-index: 200;
    position: absolute;
    padding: 16px;
    max-width: 200px;
    text-align: center;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#popup:empty {
    display: none;
}