* {
    box-sizing: border-box
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    color: rgba(49, 54, 56, 1);
    background-color: rgba(232, 233, 235, 1);
}

#popup {
    opacity: 0;
    z-index: 200;
    display: block;
    visibility: hidden;
    position: absolute;
    padding: 15px;
    width: 200px;
    text-align: center;
    pointer-events: none;
    background-color: rgba(232, 233, 235, 1);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: visibility 0s, opacity 0.2s linear;
}

#popup #popupNotice {
    color: red;
    padding-bottom: 15px;
}

#popup #popupNotice:empty {
    display: none;
}

#popup #popupTitle {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}

#popup #popupTitle:empty {
    display: none;
}

#menuBarContainer {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    padding: 10px;
}

#menuBar {
    display: flex;
    height: 75px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(49, 54, 56, 0.9);
    overflow: hidden;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #menuBar {
        background-color: rgba(49, 54, 56, .5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#timer {
    height: 100%;
    width: 100px;
    flex-shrink: 0;
    background-color: red;
}

#summary {
    height: 100%;
    width: 100%;
}

#action {
    height: 100%;
    width: 100px;
    flex-shrink: 0;
}

#stopButton {
    height: 50%;
    width: 100%;
    background-color: black;
}

#resetButton {
    height: 50%;
    width: 100%;
    background-color: gray;
}

#skilltree {
    width: 100vw;
    height: 100vh;
    border: 0;
}

#panel {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    border: 1px solid lightgrey;
}