#traditionalSkillTreeContainer {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    max-width: 1000px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#skillTextAreaContainer {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

#skillTextArea {
    width: 70%;
    z-index: 1;
    border: 1px solid rgba(49, 54, 56, 1);
    border-radius: 15px;
    resize: none;
    padding: 10px;
}

/*********** menu ***********/
#menuBarContainer {
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    padding: 10px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#menuBar {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(49, 54, 56, 0.8);
    box-shadow: 0 3px 10px rgb(49 54 56 / 0.2);
    pointer-events: all;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #menuBar {
        background-color: rgba(49, 54, 56, .2);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#leftMenu {
    display: flex;
}

#rightMenu {
    display: flex;
    flex-grow: 1;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px;
}

#timer {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

#action {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#action {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#userId {
    border: 1px solid rgba(49, 54, 56, 0.2);
    position: relative;
}

#userId .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
}

#userId:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#stopButton {
    background-color: rgba(186, 39, 74, 1);
    color: rgba(232, 233, 235, 1);
}

#stopButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110px;
}

#stopButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#screenshotButton {
    display: none;
    background-color: rgba(232, 233, 235, 1);
}

#screenshotButton svg {
    margin-left: 10px;
}

#screenshotButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
}

#screenshotButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#nextButton {
    display: none;
    background-color: rgba(0, 159, 147, 1);
    color: rgba(232, 233, 235, 1);
    text-decoration: none;
}

#nextButton svg {
    margin-left: 10px;
}

#nextButton .tooltip {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
}

#nextButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#screenshotContainer {
    display: none;
}